* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    font-size: 0.5rem;
    overflow-x: hidden;
}

/* Menu de navegacion */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    z-index: 3;
    position: sticky;
    top: 0;
    background-color: rgba(59, 62, 67, 0.9)
}

#logoGroup h1 {
    float: left;
    margin-left: 5px;
}

#logoGroup img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

#logoGroup {
    display: inherit;
    flex-direction: row;
    align-items: center;
}

#navbar {
    display: inherit;
    flex-direction: row;
    align-items: center;
}

#navbar ul {
    display: none;
}

.menus {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.mobileMenu img {
    height: 15px;
    width: 15px;
}

/* Main Index */

main {
    display: flex;
    flex-direction: column;
}

#mainImg {
    background-image: url("../img/main.png");
    min-height: 15vh;
    width: 100%;
    height: 100%;
    background-attachment: fixed;

    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

main > section > p{
    margin: 0 0px;
}

main p {
    text-align: center;
    padding: 0 10px;
    font-size: 0.7rem;
}

#mainContent img{
    height: 200px;
    width: 300px;
}

#mainContent img{
    height: 200px;
    width: 300px;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: filter 1s ease;
}

#mainContent img:hover{
    -webkit-filter: grayscale(0);
    filter: none;
}

section,
#indexImagesGroup,
#lastIndexImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.informationBox div,
#indexImagesGroup img,
#lastIndexImage {
    margin-top: 10px;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

.informationBox__description {
    width: 80%;
    border: 2px solid black;
    padding: 20px;
    margin: 0 20px;
}

/* Miembros */

.memberBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.memberBlock__memberDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align:top;
    width: 90%;
    margin: 10px;
}

h3{
    font-size: 1rem;
}

h4{
    font-size: 0.7rem;
}

.memberBlock__memberDesc p{
    text-align: justify;
}

.memberBlock__memberDesc {
    -webkit-animation-name: none;
    animation-name: none;
}

.memberBlock__memberImg{
    height: 300px;
    width: 300px;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: filter 1s ease;
}

.memberBlock__memberImg:hover{
    -webkit-filter: grayscale(0);
    filter: none;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
    bottom: 0;
}

#social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#social ul {
    display: inherit;
    margin-right: 20px;
}

#social ul li {
    list-style: none;
    margin: 0 3px;
}


#social p {
    font-size: 1rem;
}

footer img {
    width: 20px;
    height: 20px;
}

@media (min-width: 550px) {

    #mainContent img{
        height: 275px;
        width: 450px;
    }

    }

@media (min-width: 769px) {

    body {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 3;
        grid-template-areas: "header" "main" "footer";
        font-size: 1rem;
    }


    header {
        grid-area: "header";
        height: 50px;
    }

    #logoGroup img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .mobileMenu {
        display: none;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        margin-right: 5px;
    }

    #navbar ul li {
        margin: 0 8px;
        list-style: none;
    }

    #navbar ul li a {
        font-size: 0.8rem;
        text-decoration: none;
        color: whitesmoke;
    }

    main {
        grid-area: "main";
        width: 100%;
        z-index: 1;
    }

    #mainImg{
        height: 25vh;
    }

    main p {
        text-align: justify;
    }

    h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    /* Bloques de informacion e imagenes */

    #mainContent {
        padding: 0 10px 0 10px;
        display: grid;
        flex-direction: row;
        grid-template-columns: 1;
        grid-template-rows: 5;
        grid-template-areas: "firstSection" "secondSection" "indexImagesGroup" "thirdSection" "lastIndexImage";
    }

    .informationBox,
    #indexImagesGroup {
        width: 100%;
        margin: 50px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .informationBox__description {
        width: 45%;
        border: 2px solid black;
        padding: 20px;
        margin: 0 20px;
    }

    .imgDiv {
        display: flex;
        align-items: center;
    }

    .reverseRow{
        flex-direction: row-reverse;
    }

    .informationBox__imgRight{
        float: right;
        margin-right: 20px;
    }
    
    .informationBox__imgLeft{
        float: left;
        margin-left: 20px;
    }
    
    .informationBox .center{
        margin: auto;
    }

    /* Miembros */

    .memberBlock{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .memberBlock__memberDesc{
        width: 40%;
        margin-left: 20px;
        margin-right: 0;
    }
    
    .reverseRow{
        flex-direction: row-reverse;
        margin-right: 40px;
        margin-left: 0;
    }
    
    
    .memberBlock__memberImg{
        height: 300px;
        width: 300px;
        margin: 0 10vw;
    }

    footer {
        height: 50px;
    }

    #social p {
        font-size: 1.5rem;
    }
    
    footer img {
        width: 30px;
        height: 30px;
    }
    
}

@media (min-width: 1200px) {

    main p {
        font-size: 1rem;
    }

    #navbar ul li a {
        font-size: 1.1rem;
        text-decoration: none;
        color: whitesmoke;
    }

    #mainContent img{
        height: 350px;
        width: 500px;
    }

        /* Miembros */
    
        .memberBlock__memberImg{
            height: 350px;
            width: 350px;
        }
 }

 @media (min-width: 1680px) {

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    main p{
        font-size: 1.5rem;
    }

    /* Miembros */
    
    .memberBlock__memberImg{
        height: 400px;
        width: 400px;
    }

    

 }

 @media (min-width: 1920px) {

    #mainContent img{
        height: 450px;
        width: 600px;
    }

    /* Miembros */
    
    .memberBlock__memberImg{
        height: 500px;
        width: 500px;
    }

 }

 
 @media (min-width: 2560px) {

    main p {
        font-size: 1.5rem;
    }

    #mainContent img{
        height: 550px;
        width: 800px;
    }

 }

