*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas: "header" "main" "footer";
    background-color: lightgray;
    font-size: 1.5rem;
    overflow-x: hidden;
}


/* Menu de navegacion */

header{
    grid-area: "header";
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    z-index: 3;
    position: sticky;
    top: 0;
    background-color: rgba(59, 62, 67, 0.9)
}

#logoGroup h1{
    float: left;
    margin-left: 25px;
}

#logoGroup img{
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

#logoGroup{
    display: inherit;
    flex-direction: row;
    align-items: center;
}

#navbar {
    display: inherit;
    flex-direction: row;
    align-items: center;
}

#navbar ul li{
    display: inline-block;
    margin: 0 20px;
}


#navbar ul li a{
    text-decoration: none;
    color: whitesmoke
}

#mainImg{
    display: block;
    margin: auto;
}
main{
    grid-area: "main";
    width: 100%;
    z-index: 1;
}

main p{
    text-align: justify;
}

h2{
    font-size: 4rem;
    text-align: center;
}

/* Bloques de informacion e imagenes */

#mainContent{
    padding: 0 10px 0 10px;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1;
    grid-template-rows: 5;
    grid-template-areas: "firstSection" "secondSection" "indexImagesGroup" "thirdSection" "lastIndexImage";
}

.informationBox, #indexImagesGroup{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.informationBox__description{
    width: 45%;
    border: 2px solid black;
    padding: 20px;
    margin: 0 20px;
}

.imgDiv{
    display: flex;
    align-items: center;
}


.reverseRow{
    flex-direction: row-reverse;
}

#indexImagesGroup img, .imgDiv img{
    width: 800px;
    height: 600px;
}

.informationBox__imgRight{
    float: right;
    margin-right: 20px;
}

.informationBox__imgLeft{
    float: left;
    margin-left: 20px;
}

.informationBox .center{
    margin: auto;
}

.centerImg{
    display: block;
    margin: 20px auto;
    width: 1200px;
    height: 800px;
}

h3{
    font-size: 3rem;
}

footer{
    grid-area: "footer";
    height: 80px;
    width: 100%;
    z-index: 1;
    bottom: 0;
}

#social{
    float: right;
    padding: 0 25px;
}

#social ul li{
    display: inline-block;
}
#social p{
    font-size: 1.8rem;
}

#social p, #social ul li{
    margin: 10px;
}   

#social ul li img{
    width: 35px;
    height: 35px;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* Members */

.memberBlock{
    display: flex;
    align-items: center;
    height: 45vh;
}

.memberBlock__memberDesc{
    display: inline;
    vertical-align:top;
    width: 35%;
    margin: 5vh 10vw;
}


.memberBlock__memberImg{
    display: inline;
    height: 500px;
    width: 500px;
    margin: 0 10vw;
}

/* Discography */


.album{
    margin-bottom: 100px;
}

.album__albumHeader h2, .album__albumHeader h3{
    display: inline;
}

.album__albumBody img, .album__albumBody .album__albumBody__tracks{
    display: inline-block;
}

.album__albumBody {
    margin-bottom: 40px;
}

.album__albumBody img{
    height: 350px;
    width: 350px;
}

.album__albumBody__tracks{
    margin-left: 100px;
}


/* Multimedia */
.videoGroup{
    display: block;
}

.videoGroup__singleVideo{
    width: 45vw;
    display: inline-block;
}

.videoGroup__singleVideo iframe{
    display: inline-block;
    
}
.videoGroup__singleVideo__description{
    width: 18vw;
    margin-left: 10px;
    vertical-align:top;
    display: inline-block;
}
.videoGroup__singleVideo__description h3{
    
    display: block;
}
.videoGroup__singleVideo__description p{
    display: block;
}

.galery__img{
    height: 400px;
    width: 550px;
}

/* Contactos */

.contact__field{
    margin: 10px 0;
}

.contact__field label{
    display: block;
}

.survey__field{
    margin: 10px 0;
}

.btn{
    margin: 50px 0;
    height: 40px;
    width: 150px;
}